body {
    font-family: Arial;
    background: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    width: 250px;
  }
  
  button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
  }
  